* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
	margin: 0;
	padding: 0;
}

body {
	background: none;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-justify: inter-ideograph;
	-webkit-font-smoothing: antialiased;
}

img {
	zoom: 1;
	*zoom: 1;
	zoom: 1;
	max-width: 100%;
	height: auto;
	border-style: none;
	max-width: 100%;
	height: auto;
}

html {
	height: 100%;
	background:url(../images/bg.jpg) repeat;
}

/*ヘッダー*/
#header {
	width: 300px;
	height: 60px;
	margin: 30px 0 70px 20px;
}

#header .logo {
	width: 100%;
	height: auto;
}

/*メイン*/
#main {
	min-height: 1000px;
}

#main #subtitle {
	background: #f1f1f1;
	box-shadow: inset 0px 0px 10px 0px rgba(11, 4, 7, 0.14);
	margin: 1.5rem 0 2rem;
	padding: 3rem;
}

/*サイドバー*/
#main #sidebar-left,#main #sidebar-right {
	background: #f4f1e9;
	color: #7a706a;
	padding: 0 0.5rem 1.5rem;
}

/*フッター*/
#footer {
	width: 100%;
	margin:20px auto;
	border-top: 1px solid #692020;
}