/*ヘッダー*/
#header {
	padding-top: 20px;
}

#header h1{
	float: left;
	width: 300px;
	height: 60px;
	margin: 30px 0 60px 100px;
	overflow: hidden;
}

#header .logo {
	width: 100%;
	height: auto;
}

#header nav {
	float: left;
	margin: 50px 0px 60px 50px;
}

#header nav li {
	display: inline-block;
	height: 32px;
	cursor: pointer;
}

#header nav li a {
	display: block;
	width: 32px;
	height: 32px;
}

#header nav #icon-blog {
	background-color: #553830;
	width: 64px;
	border-radius: 15%;
	text-align: center;
	vertical-align: top;
}

#header nav #icon-blog a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: 800;
	width: 64px;
	line-height: 32px;
}

#header nav #icon-blog:hover {
	background-color: #000000;
}

#header nav #icon-fb {
	background-image: url('../images/sns/fb-color.png');
	background-repeat: no-repeat;
	width: 32px;
}

#header nav #icon-fb:hover {
	background-image: url('../images/sns/fb-black.png');
}

#header nav #icon-tw {
	background-image: url('../images/sns/tw-color.png');
	background-repeat: no-repeat;
	width: 32px;
}

#header nav #icon-tw:hover {
	background-image: url('../images/sns/tw-black.png');
}

#header nav #icon-insta {
	background-image: url('../images/sns/insta-color.png');
	background-repeat: no-repeat;
	width: 32px;
}

#header nav #icon-insta:hover {
	background-image: url('../images/sns/insta-black.png');
}

/*book block*/
.bb-wrapper {
	clear: both;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 850px;
	height: 440px;
	position: relative;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #553830;
	margin: 0 auto 15px;
	padding: 0 10px;
}

.bb-wrapper::before,
.bb-wrapper::after {
	position: absolute;
	top: 0;
	z-index: 10;
	width: 10px;
	height: 100%;
	background: -webkit-linear-gradient(left, #dddddd 33.33%, #f0f0f0 33.33%, #f0f0f0 66.66%, white 66.66%);
	background: linear-gradient(to right, #dddddd 33.33%, #f0f0f0 33.33%, #f0f0f0 66.66%, white 66.66%);
	background-size: 3px 100%;
	content: '';
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bb-wrapper::before { left: 0 }

.bb-wrapper::after { right: 0 }

.bb-wrapper .bb-bookblock {
	width: 100%;
	height: 100%;
	-webkit-perspective: 2000px;
	perspective: 2000px;
}

.bb-side {
	position: relative;
	float: left;
	overflow: hidden;
	width: 50%;
	height: 100%;
}

.bb-side::before {
	position: absolute;
	top: 0;
	z-index: 100;
	width: 80px;
	height: 100%;
	box-shadow: inset 30px 0 40px -20px rgba(0, 0, 0, 0.1);
	content: '';
}

.bb-side:first-child::before {
	right: 0;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.05), inset -30px 0 40px -20px rgba(0, 0, 0, 0.15);
}

/*bb nav bookmark*/
#head-nav li {
	position: absolute;
	top:-8%;
	z-index: 10;
	width: 30px; 
	height: 110px;
	-moz-transition: top 0.1s ease;
	-webkit-transition: top 0.1s ease;
	-o-transition: top 0.1s ease;
	-ms-transition: top 0.1s ease;
}

#head-nav li.active, #head-nav li:hover {
	top: -20%;
}

#head-nav li:before {
	content: "";
	position: absolute;
	top: -20%;
	width: 30px;
	height: 32px;
	background: url(../images/bookmark.png) no-repeat;
	background-position: top center;
	background-size: contain;
}

#head-nav li a{
	color: #37190E;
	position: absolute;
	top: -9%;
	display: inline-block;
	text-decoration: none;
	font-size: 0.9em;
	transform-origin:left bottom;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

#head-nav li a span {
	font-weight: 800;
	font-size: 1.2em;
	margin-right: 12%;
}

.bb-side .nav {
	content: "";
	position: absolute;
	top:-25%;
	z-index: 10;
	width: 30px; 
	height: 130px;
}

.nav-I{
	right:300px;
	background-color: #E3CFB6;
}

.bb-side .nav-I{
	right:290px;
}

.nav-II{
	right:250px;
	background-color: #5D9F95;
}

.bb-side .nav-II{
	right:240px;
}

.nav-III{
	right: 200px;
	background-color: #E3CFB6;
}

.bb-side .nav-III{
	right:190px;
}

.nav-IV{
	right: 150px;
	background-color: #5D9F95;
}

.bb-side .nav-IV{
	right:140px;
}

.nav-news{
	right:100px;
	background-color: #E3CFB6;
}

.bb-side .nav-news{
	right:90px;
}

/*page navigation*/
.bb-wrapper > .page-nav a {
	position: absolute;
	display: inline-block;
	text-decoration: none;
	line-height: 1.5;
	z-index: 1000;
	opacity: 0.6;
	width: 50px;
	height: 50px;
	color: #83B39D;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	border-radius: 50%;
	background: rgba(221, 221, 221, 0.7);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bb-wrapper > .page-nav i {
	margin: 15% 0;
}

.bb-wrapper > .page-nav a:hover { opacity: 1 }

#bb-nav-prev,
#bb-nav-next {
	bottom: 5%;
	left: -8%;
}

#bb-nav-next {
	right: -8%;
	left: auto;
}

/*#################*/
/*page-layout      */
/*#################*/
.bb-side > div{
	position: absolute;
	top: 15%;
	left: 14%;
	margin: 0;
	max-width: 80%;
	width: 100%;
}

.bb-side h2, .bb-side h3 {
	color: #41250c;
	clear: both;
	line-height: 1.3;
	margin: 1em 0;
}

.bb-side > div h2 {
	text-align: center;
	margin-top: -8%;
	font-weight: 400;
	font-size: 2em;
	font-family: 'Italianno', cursive;
}

.bb-side > div .h2_jp {
	font-size: 1.4em;
}

.bb-side > div p {
	padding: 0 10px;
}

.bb-side > div .rabbit {
	display: block;
	width: 320px;
	height: 100%;
	margin: 15% auto;
}

.bb-side > div .eyecatchimg {
	display: block;
	height: 100%;
	margin: 10px auto 0;
}

.page-layout-1 > div ul {
	font-size: 0.9em;
}

.page-layout-1 > div a {
	text-decoration: none;
	color: #83B39D;
}

.page-layout-1 #map {
	margin:2% auto 0;
	width: 100%;
}

.page-layout-2 > div p {
	font-size: 0.9em;
}

.page-layout-2 > div dl {
	margin-top: -5%;
}

.page-layout-2 > div dd {
	margin-left: 5%;
	font-size: 0.9em;
}

.page-layout-2 > div dt{
	margin-top: 8%;
}


/*###################*/
/*レスポンシブデザイン*/
/*###################*/
@media screen and (max-width:1024px){
	#header h1 {
		float: none;
		margin-bottom: 20px;
	}

	#header nav {
		float: none;
		margin-top: 0;
		margin-left: 120px;
	}
}

@media screen and (max-width:960px){
	.bb-wrapper {
		width: 100%;
		margin: 0 5px;
	}

	#bb-nav-next {
		bottom: 1%;
		right: 2%;
	}

	#bb-nav-prev {
		bottom: 1%;
		left: 2%;
	}
}

@media screen and (max-width:767px){
	.bb-wrapper {
		width: 900px;
		position: absolute;
		right: 16%;
		border-width: 5px 10px 5px 0px;
		margin: 0 auto;
		padding-left: 0px;
	}

	.bb-item {
		width: 50%;
		left: 50%;
	}

	.bb-before {
		content: "";
		width: 50%;
		height: 100%;
		right: 50%;
		background-color: #fff;
	}

	.bb-item::before, .bb-before::before {
		position: absolute;
		top: 0;
		z-index: 100;
		width: 80px;
		height: 100%;
		box-shadow: inset 30px 0 40px -20px rgba(0, 0, 0, 0.1);
		content: '';
	}

	.bb-before::before {
		right: 50%;
		box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.05)
		inset -30px 0 40px -20px rgba(0, 0, 0, 0.15);
	}
}