* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
	margin: 0;
	padding: 0;
}

body {
	background: none;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-justify: inter-ideograph;
	-webkit-font-smoothing: antialiased;
}

img {
	zoom: 1;
	*zoom: 1;
	zoom: 1;
	max-width: 100%;
	height: auto;
	border-style: none;
	max-width: 100%;
	height: auto;
}

html {
	height: 100%;
	background:url(images/zarazara.jpg) repeat;
}

/*ヘッダー*/
#header {
	width: 280px;
	height: 50px;
	margin: 30px 0 70px 100px;
	background-color: #E4E4E4;
}

#header .logo {
	width: 100%;
	height: auto;
}